name: Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron: '30 3 * * 0'

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8", "3.9", "3.10"]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        sudo apt-get install -qq gfortran
        pip install -r requirements.txt --only-binary=numpy,scipy
        mkdir cutest &&
        git clone https://github.com/ralna/ARCHDefs ./cutest/archdefs &&
        git clone https://github.com/ralna/SIFDecode ./cutest/sifdecode &&
        git clone https://github.com/ralna/CUTEst ./cutest/cutest &&
        ln -s $GITHUB_WORKSPACE/pycutest/tests/problems ./cutest/mastsif &&
        source ./.cutest.env &&
        ./.install_cutest.sh
        mkdir $GITHUB_WORKSPACE/pycutest_cache
        python setup.py install
    - name: Tests
      run: |
        source ./.cutest.env
        export PYCUTEST_CACHE="$GITHUB_WORKSPACE/pycutest_cache"
        python -m unittest pycutest.tests.test_sifdecode_extras
        python -m unittest pycutest.tests.test_basic_functionality
        python -m unittest pycutest.tests.test_sparse_functionality
        python -m unittest pycutest.tests.test_sifparam_chars
